body {
  overflow: hidden;
  font-family: "Noto Sans KR", serif !important;
  box-sizing: border-box;
}

/* header */
#header {
  position: absolute; /* 절대 위치로 설정 */
  top: 0; /* 화면 상단 고정 */
  left: 0;
  width: 100%; /* 너비 100% */
  background-color: rgba(255, 174, 92, 0.5); /* 약간 투명한 배경 */
  z-index: 10; /* 배경보다 위에 오도록 설정 */
}

.topmenu {
  font-size: 1vw;
  align-items: center;
  padding: 0.3vw 3vw;
  display: flex;
  justify-content: space-between;
}

.topmenu li {
  font-size: 0.8vw;
  cursor: pointer;
  font-weight: 700;
}

.topmenu .logo {
  width: 70%;
}

.topmenu i {
  font-size: 1.5vw;
}

.topmenu a {
  color: #fff;
}

.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 30px;
  height: 30px;
}
.menu-global {
  border-radius: 3vw;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 5.5px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 13px;
}
.menu-bottom {
  top: 26px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

/* 사이드 메뉴 */
.side-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: -300px; /* 숨김 상태 */
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  transition: transform 0.4s ease-in-out; /* 부드러운 애니메이션 */
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  z-index: 999;
  padding-top: 50px; /* 메뉴와 상단 여백 */
}

.slide_logo {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 50%;
}

.side-menu.open {
  transform: translateX(300px); /* 메뉴가 오른쪽으로 밀려 나오게 */
}

/* 메뉴 리스트 스타일 */
.side-menu ul {
  padding: 1vw;
  box-sizing: border-box;
  margin-top: 50px;
}

.side-menu ul li {
  border-bottom: 2px solid #fff;
  padding: 1vw;
  box-sizing: border-box;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 배경 색과 트랜지션 효과 */
}
.side-menu i {
  position: absolute;
  right: 10%;
}

.side-menu ul li:hover {
  transform: scale(1.1); /* 메뉴 아이템 크기 살짝 확대 */
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  font-weight: 500; /* 글자 두께 */
}

.social {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social img:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

.social a img {
  width: 3vw;
}

/* 어두운 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 998;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

/* 사이드 메뉴 애니메이션 */
@keyframes slideIn {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

/* visual */
#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/brand_back.png);
  background-size: cover;
}

.go-top {
  z-index: 1000;
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(34, 34, 34, 0.5); /* 투명도를 적용한 배경색 */
  font-size: 2vw;
  width: 4vw;
  height: 4vw;
  line-height: 4.1vw;
  text-align: center;
  border-radius: 50px; /* 버튼을 둥글게 */
  display: none; /* 초기에는 숨김 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

.go-top:hover {
  background-color: #222; /* 호버 시 더 진한 색상 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
  transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 애니메이션 */
}

.model {
  width: 31%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.cir {
  width: 18%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translate(0%, 0%);
}

.txt {
  width: 33%;
  position: absolute;
  top: 15%;
  right: 7%;
  transform: translate(0%, 0%);
}

.intro {
  width: 18%;
  position: absolute;
  top: 20%;
  left: 7%;
  transform: translate(0%, 0%);
}

.line {
  width: 33%;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0%, 0%);
}

/*container*/

#contaainer {
  width: 100%;
  overflow: hidden;
}

/*con1*/

.con1 {
  position: relative;
  padding: 5vw;
  box-sizing: border-box;
  width: 100%;
  height: 150vh;
  background-color: #f0f0f0;
}

.txtwrap {
  padding-left: 10vw;
  padding-bottom: 2vw;
  box-sizing: border-box;
}

.con1 h5 {
  font-size: 1vw;
  font-weight: 600;
}

.txtwrap h2 {
  font-size: 2.5vw;
  letter-spacing: -1px;
}

.why {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.why h2 {
  font-size: 2vw;
  padding: 1.5vw;
  width: 50%;
  box-sizing: border-box;
}

.why li:nth-child(1) img {
  bottom: 0;
  width: 100%;
  position: absolute;
}

.why li:nth-child(1) {
  position: relative;
  background-color: #fff;
  width: 25vw;
  height: 35vw;
  border-radius: 1vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.what {
  box-sizing: border-box;
  margin-top: -5vw;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.what h2 {
  font-size: 2vw;
  padding: 1.5vw;
  width: 50%;
  box-sizing: border-box;
}

.what li:nth-child(3) {
  background-color: #fff;
  margin-top: -5vw;
  position: relative;
  width: 25vw;
  height: 35vw;
  border-radius: 1vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.what li:nth-child(3) img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.what li:nth-child(3) h2 {
  width: 80%;
}

.what li:nth-child(1),
.what li:nth-child(2) {
  margin-top: 10vw;
}

.con1 .logo {
  filter: brightness(0%); /* 밝기를 줄여 어둡게 만듦 */
  width: 15%;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
}

.card-container {
  width: 20vw;
  height: 20vw;
  perspective: 100vw; /* 3D 효과를 위한 원근감 */
}

.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out; /* 뒤집히는 전환 효과 */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* 뒷면 가리기 */
  border-radius: 1vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card-front {
  background-color: #fff; /* 앞면 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: 700;
}

.card-back {
  padding: 3vw;
  box-sizing: border-box;
  background-color: #ff7b00;
  color: #fff;
  transform: rotateY(180deg); /* 뒷면을 뒤집음 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

/* Hover 시 카드 뒤집기 */
.card-container:hover .card {
  transform: rotateY(180deg);
}

/*con2*/

.con2 {
  padding: 3vw;
  box-sizing: border-box;
  width: 100%;
  height: 200vh;
}

.con2 li {
  margin-top: -4vw;
  position: relative;
}

.con2 h2 {
  margin-bottom: 1vw;
  letter-spacing: -1px;
  font-size: 3vw;
  color: #555;
}

.con2 p {
  margin-bottom: 2vw;
  letter-spacing: -1px;
  font-size: 1.5vw;
  font-weight: 700;
  color: #aaa;
  width: 27%;
}

.icons {
  width: 7%;
  top: 47%;
  left: 5%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.gradeition {
  display: block;
  width: 100%;
}
