body {
  overflow: hidden;
  font-family: "Noto Sans KR", serif !important;
  box-sizing: border-box;
}

/* header */
#header {
  position: absolute; /* 절대 위치로 설정 */
  top: 0; /* 화면 상단 고정 */
  left: 0;
  width: 100%; /* 너비 100% */
  background-color: rgba(255, 174, 92, 0.5); /* 약간 투명한 배경 */
  z-index: 10; /* 배경보다 위에 오도록 설정 */
}

.topmenu {
  font-size: 1vw;
  align-items: center;
  padding: 0.3vw 3vw;
  display: flex;
  justify-content: space-between;
}

.topmenu li {
  font-size: 0.8vw;
  cursor: pointer;
  font-weight: 700;
}

.topmenu .logo {
  width: 70%;
}

.topmenu i {
  font-size: 1.5vw;
}

.topmenu a {
  color: #fff;
}

.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 30px;
  height: 30px;
}
.menu-global {
  border-radius: 3vw;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 5.5px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 13px;
}
.menu-bottom {
  top: 26px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

/* 사이드 메뉴 */
.side-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: -300px; /* 숨김 상태 */
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  transition: transform 0.4s ease-in-out; /* 부드러운 애니메이션 */
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  z-index: 999;
  padding-top: 50px; /* 메뉴와 상단 여백 */
}

.slide_logo {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 50%;
}

.side-menu.open {
  transform: translateX(300px); /* 메뉴가 오른쪽으로 밀려 나오게 */
}

/* 메뉴 리스트 스타일 */
.side-menu ul {
  padding: 1vw;
  box-sizing: border-box;
  margin-top: 50px;
}

.side-menu ul li {
  border-bottom: 2px solid #fff;
  padding: 1vw;
  box-sizing: border-box;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 배경 색과 트랜지션 효과 */
}
.side-menu i {
  position: absolute;
  right: 10%;
}

.side-menu ul li:hover {
  transform: scale(1.1); /* 메뉴 아이템 크기 살짝 확대 */
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  font-weight: 500; /* 글자 두께 */
}

.social {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social img:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

.social a img {
  width: 3vw;
}

/* 어두운 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 998;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

/* 사이드 메뉴 애니메이션 */
@keyframes slideIn {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

/* visual */
#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/brand_back.png);
  background-size: cover;
}

.go-top {
  z-index: 1000;
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(34, 34, 34, 0.5); /* 투명도를 적용한 배경색 */
  font-size: 2vw;
  width: 4vw;
  height: 4vw;
  line-height: 4.1vw;
  text-align: center;
  border-radius: 50px; /* 버튼을 둥글게 */
  display: none; /* 초기에는 숨김 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

.go-top:hover {
  background-color: #222; /* 호버 시 더 진한 색상 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
  transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 애니메이션 */
}

.model {
  width: 31%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.cir {
  width: 18%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translate(0%, 0%);
}

.txt {
  width: 33%;
  position: absolute;
  top: 15%;
  right: 7%;
  transform: translate(0%, 0%);
}

.intro {
  width: 18%;
  position: absolute;
  top: 20%;
  left: 7%;
  transform: translate(0%, 0%);
}

.line {
  width: 33%;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0%, 0%);
}

/*container*/

#contaainer {
  width: 100%;
  overflow: hidden;
}

/*con1*/

.con1 {
  position: relative;
  padding: 5vw;
  box-sizing: border-box;
  width: 100%;
  height: 150vh;
  background-color: #f0f0f0;
}

.txtwrap {
  padding-left: 10vw;
  padding-bottom: 2vw;
  box-sizing: border-box;
}

.con1 h5 {
  font-size: 1vw;
  font-weight: 600;
}

.txtwrap h2 {
  font-size: 2.5vw;
  letter-spacing: -1px;
}

.why {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.why h2 {
  font-size: 2vw;
  padding: 1.5vw;
  width: 50%;
  box-sizing: border-box;
}

.why li:nth-child(1) img {
  bottom: 0;
  width: 100%;
  position: absolute;
}

.why li:nth-child(1) {
  position: relative;
  background-color: #fff;
  width: 25vw;
  height: 35vw;
  border-radius: 1vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.what {
  box-sizing: border-box;
  margin-top: -5vw;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.what h2 {
  font-size: 2vw;
  padding: 1.5vw;
  width: 50%;
  box-sizing: border-box;
}

.what li:nth-child(3) {
  background-color: #fff;
  margin-top: -5vw;
  position: relative;
  width: 25vw;
  height: 35vw;
  border-radius: 1vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.what li:nth-child(3) img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.what li:nth-child(3) h2 {
  width: 80%;
}

.what li:nth-child(1),
.what li:nth-child(2) {
  margin-top: 10vw;
}

.con1 .logo {
  filter: brightness(0%); /* 밝기를 줄여 어둡게 만듦 */
  width: 15%;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
}

.card-container {
  width: 20vw;
  height: 20vw;
  perspective: 100vw; /* 3D 효과를 위한 원근감 */
}

.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out; /* 뒤집히는 전환 효과 */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* 뒷면 가리기 */
  border-radius: 1vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card-front {
  background-color: #fff; /* 앞면 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: 700;
}

.card-back {
  padding: 3vw;
  box-sizing: border-box;
  background-color: #ff7b00;
  color: #fff;
  transform: rotateY(180deg); /* 뒷면을 뒤집음 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

/* Hover 시 카드 뒤집기 */
.card-container:hover .card {
  transform: rotateY(180deg);
}

/*con2*/

.con2 {
  padding: 3vw;
  box-sizing: border-box;
  width: 100%;
  height: 190vh;
}

.con2 li {
  margin-top: -4vw;
  position: relative;
}

.con2 h2 {
  margin-bottom: 1vw;
  letter-spacing: -1px;
  font-size: 3vw;
  color: #555;
}

.con2 p {
  margin-bottom: 2vw;
  letter-spacing: -1px;
  font-size: 1.5vw;
  font-weight: 700;
  color: #aaa;
  width: 27%;
}

.icons {
  width: 7%;
  top: 47%;
  left: 5%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.gradeition {
  display: block;
  width: 100%;
}

.gra li:nth-child(1) {
  position: relative;
}

.gra_txt {
  color: #fff;
  z-index: 999;
  position: absolute;
  top: 55%;
  left: 39%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.gra_txt span {
  font-size: 1.5vw;

  font-weight: bolder;
}

.gra_txt li:nth-child(1) {
  font-size: 1.5vw;
  font-weight: bolder;
  width: 30%;
}

.gra_txt li:nth-child(2) {
  width: 60%;
}

.gra_txt li {
  letter-spacing: -1px;
  width: 50%;
}

/*con3*/

.con3 {
  padding: 3vw;
  box-sizing: border-box;
  background-image: url(../img/brand_con3_back.png);
  background-size: contain;
  width: 100%;
  height: 100vh;
  background-color: #ff7b00;

  text-align: center;
}

.con3 h2 {
  font-size: 3vw;
  color: #fff;
  letter-spacing: -1px;
}

.con3 h4 {
  width: 100%;
  z-index: 999;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1.5vw;
}

.con3 h4 span {
  font-weight: bolder;
  font-size: 1.9vw;
}

.swiper {
  background-color: rgba(255, 174, 92, 0.5);
  margin-top: 3vw;
  border-radius: 3vw;
  height: 35vw;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text_wrap {
  margin: 2vw auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: inline-block;
  width: 50%;
}

.swiper-slide-active {
  margin-left: -0vw !important;
}

.swiper {
  position: relative;
  width: 50%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.con3 .logo {
  margin-top: 3vw;
  margin-bottom: 1vw;
}

.con3 h5 {
  margin-top: 7.5vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
}

.con3 ul {
  align-items: center;
  color: #222;
  display: flex;
  justify-content: center;
}

.vs {
  z-index: 999;
  font-weight: 900;
  font-size: 2vw;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.other {
  filter: brightness(50%);
}

.con3 h6 {
  top: 5%;
  width: 100%;
  position: relative;
  left: 50%;
  color: #fff;
  letter-spacing: -1px;
  font-size: 1.4vw;
  font-weight: normal;
}

.con3 span {
  font-weight: 700;
}

.con3 ul li h2 {
  align-items: center;
  color: #222;
}

.swiper-pagination {
  padding-bottom: 1.5vw;
  box-sizing: border-box;
  color: #fff !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  width: 2vw !important;
  border-radius: 1vw !important;
}

:root {
  --swiper-theme-color: #fff !important;
}

/*con4*/

.con4 {
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 30%;
  height: 40vh;
}

.logo_4 {
  width: 40%;
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(0deg); /* 주황색 필터 */
}

.con4 h2 {
  margin: 1vw auto;
  width: 67%;
}

/*hero*/

.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card2 {
  list-style: none;
  position: relative;
}

.card2:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card2:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card2:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  color: #fff;
  text-align: center;
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  font-size: 1.5vw !important;
  padding: 3vw;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  width: 80%;
  margin: auto;
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
}

/*footer*/

#footer {
  height: 50vh;
  width: 100%;
}

#footer span {
  font-weight: 700;
}

.fot1 {
  padding: 1vw;
  background-color: #ddd;
  border-top: 1px solid #222;
  display: flex;
  justify-content: space-around;
}

.fot1 li {
  cursor: pointer;
}

#footer .logo {
  padding: 2vw 2vw 1vw 10vw;
  box-sizing: border-box;
  width: 20%;
  filter: grayscale(60%) brightness(50%);
}

.fot2 {
  display: flex;
  justify-content: space-around;
  padding: 0vw 10vw;
  box-sizing: border-box;
}

.fot6 {
  display: flex;
  justify-content: right;
}

.fot2 li {
  width: 60%;
}

.fot4 > li {
  font-size: 1vw;
  line-height: 1.5vw;
  color: #555;
}

.fot4 > li span {
  display: block;
  padding-top: 3vw;
}

.fot3 {
  display: flex;
  justify-content: left;
  gap: 2vw;
}

.fot3 li {
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 600;
}

.fot5 {
  margin-bottom: 2vw;
  display: flex;
  gap: 1vw;
  justify-content: left;
}

.fot5 li {
  cursor: pointer;
}
