body {
  overflow: hidden;
  font-family: "Noto Sans KR", serif !important;
  box-sizing: border-box;
}

/* header */
#header {
  position: absolute; /* 절대 위치로 설정 */
  top: 0; /* 화면 상단 고정 */
  left: 0;
  width: 100%; /* 너비 100% */
  background-color: #ff8b1e; /* 약간 투명한 배경 */
  z-index: 10; /* 배경보다 위에 오도록 설정 */
}

.topmenu {
  font-size: 1vw;
  align-items: center;
  padding: 0.3vw 3vw;
  display: flex;
  justify-content: space-between;
}

.topmenu li {
  font-size: 0.8vw;
  cursor: pointer;
  font-weight: 700;
}

.topmenu .logo {
  width: 70%;
}

.topmenu i {
  font-size: 1.5vw;
}

.topmenu a {
  color: #fff;
}

.menu {
  z-index: 999;
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 30px;
  height: 30px;
}
.menu-global {
  border-radius: 3vw;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 5.5px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 13px;
}
.menu-bottom {
  top: 26px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

/* 사이드 메뉴 */
.side-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: -300px; /* 숨김 상태 */
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  transition: transform 0.4s ease-in-out; /* 부드러운 애니메이션 */
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  z-index: 999;
  padding-top: 50px; /* 메뉴와 상단 여백 */
}

.slide_logo {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 50%;
}

.side-menu.open {
  transform: translateX(300px); /* 메뉴가 오른쪽으로 밀려 나오게 */
}

/* 메뉴 리스트 스타일 */
.side-menu ul {
  padding: 1vw;
  box-sizing: border-box;
  margin-top: 50px;
}

.side-menu ul li {
  border-bottom: 2px solid #fff;
  padding: 1vw;
  box-sizing: border-box;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 배경 색과 트랜지션 효과 */
}
.side-menu i {
  position: absolute;
  right: 10%;
}

.side-menu ul li:hover {
  transform: scale(1.1); /* 메뉴 아이템 크기 살짝 확대 */
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  font-weight: 500; /* 글자 두께 */
}

.social {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social img:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

.social a img {
  width: 3vw;
}

/* 어두운 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 998;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

/* 사이드 메뉴 애니메이션 */
@keyframes slideIn {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

/* visual */
#visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/review_back.png);
  background-size: cover;
}

.go-top {
  z-index: 1000;
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(34, 34, 34, 0.5); /* 투명도를 적용한 배경색 */
  font-size: 2vw;
  width: 4vw;
  height: 4vw;
  line-height: 4.1vw;
  text-align: center;
  border-radius: 50px; /* 버튼을 둥글게 */
  display: none; /* 초기에는 숨김 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

.go-top:hover {
  background-color: #222; /* 호버 시 더 진한 색상 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
  transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 애니메이션 */
}

.box_text {
  position: absolute;
  width: 35%;
  top: 20%;
  left: 22%;
  transform: translate(-50%);
}

.text {
  position: absolute;
  width: 35%;
  top: 35%;
  left: 23%;
  transform: translate(-50%);
}

.big_text {
  position: absolute;
  width: 35%;
  bottom: 5%;
  left: 22%;
  transform: translate(-50%);
}

.eare {
  position: absolute;
  width: 20%;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
}

/*container*/

#container {
  width: 100%;
  overflow: hidden;
}

/*con1*/

.con1 {
  padding: 5vw;
  box-sizing: border-box;
  letter-spacing: -1px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.con1 h2 {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 5vw;
}

.con1 h2 span {
  color: #ff8b1e;
}

.con1 img {
  width: 5vw;
  object-fit: cover;
  height: 5vw;
  border-radius: 0.5vw;
}

.review_img > li {
  overflow: hidden;
  position: relative;
  width: 22vw;
  padding: 2vw;
  box-sizing: border-box;
  border-radius: 0.5vw;
  border: 1px solid #ddd;
}

.con1 h4 {
  color: #ff8b1e;
  margin-bottom: 1vw;
  width: 90%;
}

.con1 h5 {
  margin-bottom: 2vw;
  font-weight: normal;
}

.con1 i {
  color: #222;
  position: absolute;
  right: 2vw;
  top: 2vw;
  font-size: 2vw;
  margin-left: 1vw;
}

.con1 p {
  margin-bottom: 2vw;
}

.more_box {
  cursor: pointer;
  text-align: center;
  line-height: 5vw;
  color: #fff;
  background-color: #222;
  width: 5vw;
  height: 5vw;
  border-radius: 0.5vw;
}

.plus_box {
  cursor: pointer;
  right: -1px;
  bottom: -1px;
  position: absolute;
  width: 2vw;
  font-weight: 700;
  height: 2vw;
  text-align: center;
  line-height: 2vw;
  border: 1px solid #ddd;
}

.review_img_img {
  display: flex;
  gap: 1vw;
}

.review_img {
  gap: 2vw;
  display: flex;
  justify-content: center;
}

/*con2*/

.con2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url(../img/level_banner_back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.con2 img:nth-child(1) {
  position: absolute;
  top: 25%;
  left: 5%;
}

.con2 img:nth-child(2) {
  position: absolute;
  top: 0%;
  width: 30%;
  left: 30%;
}

.con2 img:nth-child(3) {
  position: absolute;
  top: 0%;
  width: 30%;
  left: 40%;
}

.con2 img:nth-child(4) {
  position: absolute;
  top: 0%;
  width: 28%;
  right: 0%;
}

/*con3*/

.con3 {
  letter-spacing: -1px;
  padding: 5vw;
  box-sizing: border-box;
  width: 100%;
}

.con3 .top {
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.top li {
  cursor: pointer;
}

.top_left {
  display: flex;
  gap: 10px;
}

.top_left li:nth-child(1) {
  color: #ff8b1e;
  font-weight: 700;
}

.top_right {
  display: flex;
  gap: 10px;
}

.top_right li:nth-child(1) {
  cursor: pointer;
  border: 1px solid #555;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  box-sizing: border-box;
}

.con3 h5 {
  margin-top: 1vw;
}

.con3 h6 {
  font-weight: normal;
}

.con3 p {
  line-height: 2vw;
  margin-bottom: 2vw;
  width: 80%;
  text-align: justify;
}

.con3 h3 {
  margin-bottom: 1vw;
  font-size: 1vw;
}

.con3 h3 span {
  font-weight: 400;
  margin-left: 1vw;
}

.sns li {
  cursor: pointer;
  border: 1px solid #aaa;
  padding: 0.5vw 1vw;
}

.sns li span {
  color: #ff8b1e;
}

.fa-star {
  color: #ff8b1e;
}

.fa-star:nth-child(5) {
  color: #ddd;
}

.top_right li:nth-child(2) {
  cursor: pointer;
  background-color: #ff8b1e;
  border-radius: 0.5vw;
  color: #fff;
  padding: 0.5vw 1vw;
  box-sizing: border-box;
}

.review_imges {
  display: flex;
  gap: 1vw;
}

.review_imges img {
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-radius: 0.5vw;
  width: 5vw;
  height: 5vw;
  object-fit: cover;
}

.con3 h4 {
  margin-bottom: 1vw;
  color: #ff8b1e;
  font-weight: 700;
  font-size: 1vw;
}

.sns {
  display: flex;
  gap: 1vw;
}

.review_best {
  padding-bottom: 2vw;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.level_menu {
  margin-top: 1vw;
  width: 20vw;
}

/*footer*/

#footer {
  height: 50vh;
  width: 100%;
}

#footer span {
  font-weight: 700;
}

.fot1 {
  padding: 1vw;
  background-color: #ddd;
  border-top: 1px solid #222;
  display: flex;
  justify-content: space-around;
}

.fot1 li {
  cursor: pointer;
}

#footer .logo {
  padding: 2vw 2vw 1vw 10vw;
  box-sizing: border-box;
  width: 20%;
  filter: grayscale(60%) brightness(50%);
}

.fot2 {
  display: flex;
  justify-content: space-around;
  padding: 0vw 10vw;
  box-sizing: border-box;
}

.fot6 {
  display: flex;
  justify-content: right;
}

.fot2 li {
  width: 60%;
}

.fot4 > li {
  font-size: 1vw;
  line-height: 1.5vw;
  color: #555;
}

.fot4 > li span {
  display: block;
  padding-top: 3vw;
}

.fot3 {
  display: flex;
  justify-content: left;
  gap: 2vw;
}

.fot3 li {
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 600;
}

.fot5 {
  margin-bottom: 2vw;
  display: flex;
  gap: 1vw;
  justify-content: left;
}

.fot5 li {
  cursor: pointer;
}
